# HIS MariaDB Database configuration
HIS_HOST=
HIS_PORT=3306
HIS_USER=
HIS_PASSWORD=
HIS_NAME=

# Secret key for JWT signing
JWT_SECRET=

CORS_ORIGINS=http://localhost:4000,http://localhost:5173


#CoreKon Auth PG DB Configuration
CORE_KON_HOST=
CORE_KON_PORT=5432
CORE_KON_USER=
CORE_KON_PASSWORD=
CORE_KON_DB_NAME=
CORE_KON_SCHEMA=core_kon

#Nurse  PG DB Configuration
NURSE_PG_HOST=
NURSE_PG_PORT=5432
NURSE_PG_USER=
NURSE_PG_PASSWORD=
NURSE_PG_DB_NAME=
NURSE_PG_SCHEMA=public
